language: cpp
compiler:
    - gcc
    - clang
install:
    - sudo add-apt-repository --yes ppa:kalakris/cmake
    - sudo apt-get update -qq
    - sudo apt-get install cmake
before_script:
     - mkdir build
     - cd build
     - cmake ..
script: make
